@model ROLETOP.ViewModels.MensagemViewModel

<main>
    <h2>
        <!-- @Model.NomeView não realizado!!! -->
        @ViewData["Action"] não realizado!!!
    </h2>
    <p>
        @Model.MensagemRetorno
    </p>
</main>