<main>
    <form method="POST" action='@Url.Action("AgendarEvento","Evento")'>
        <div class="fundo-image">
            <div class="logo-roletop">
                <img src="img/logo.png">
                <h1>EVENTOS</h1>
            </div>

            <div class="espacamento-fundopreto">
                <div class="posicionamento">

                    <div class="container1">
                        <div class="txtb">

                            <input type="text" placeholder="EVENTOS:" name="tipo_evento" />
                        </div>
                    </div>

                    <div class="container2">
                        <div class="txtb">

                            <input type="text" placeholder="DATA: 00/00/0000" name="data_evento" /> 

                            
                        </div>
                    </div>

                    <div class="container3">
                        <div class="txtb">
                            <input type="text" placeholder="NÚMERO DE PESSOAS:" name="qtdpessoas" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="botao">
                <input type="submit" class="buttom1" value="Agendar" /> 
            </div>
        </div> 
    </form>
    <div class="container-all">
        <div class="posicao-1">
            <div class="container">
                <img src="img/CAPA6.jpg" alt="">
                <span class="title">BALADAS</span>
                <span class="text">Diversão garantida com sons e iluminação diferenciada</span>
            </div>
            <div class="container">
                <img src="img/aniversario4.jpg" alt="">
                <span class="title">ANIVERSÁRIOS</span>
                <span class="text">Aniversários para todas as faxetárias de idade</span>
            </div>
            <div class="container">
                <img src="img/junina.jpg" alt="">
                <span class="title">FESTA JUNINA</span>
                <span class="text">Espaço adequado para festa do periodo de Junho</span>
            </div>
        </div>

        <div class="posicao-2">
            <div class="container">
                <img src="img/sertanejo3.jpeg" alt="">
                <span class="title">SHOW SERTANEJO</span>
                <span class="text"></span>
            </div>
            <div class="container">
                <img src="img/casamento4.jpg" alt="">
                <span class="title">CASAMENTOS</span>
                <span class="text"></span>
            </div>
            <div class="container">
                <img src="img/aniversario1.jpg" alt="">
                <span class="title">ANIVERSÁRIOS</span>
                <span class="text">Festa de aniversário para adolescentes</span>
            </div>
        </div>
    </div>

    <div class="rodape">
        <p>COPYRIGHT 2019 Todos os direitos reservados</p>
    </div>
</main>
