<main>
        <div class="animation">

            <div class="slidershow middle">
                <div class="slides">
                    <input type="radio" name="r" id="r1" checked>
                    <input type="radio" name="r" id="r2">
                    <input type="radio" name="r" id="r3">
                    <input type="radio" name="r" id="r4">
                    <input type="radio" name="r" id="r5">
                    <div class="slide s1">
                        <img src="img/imagem1.jpg">
                    </div>

                    <div class="slide">
                        <img src="img/maos.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="img/shsowman.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="img/capa1.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="img/CAPA8.jpg" alt="">
                    </div>
                </div>

                <div class="navigation">
                    <label for="r1" class="bar"></label>
                    <label for="r2" class="bar"></label>
                    <label for="r3" class="bar"></label>
                    <label for="r4" class="bar"></label>
                    <label for="r5" class="bar"></label>
                </div>
            </div>
        </div>

        <div class="Faixa-branca">

        </div>

        <div class="fundo-branco-antesgaleria">

        </div>
        <div class="logotipo">
            <img src="img/logo.png">
        </div>

        <div class="fundo-branco"></div>


        <div class="fundo-galeria">
            <div class="descricao-galeria">
                <p><b>GALERIA</b></p>
            </div>
        </div>


        <div class="fundo">

            <div class="container">
                <div class="box">
                    <div class="imgBox">
                        <div class="festa">
                            <img src="img/capa1.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>SHOWS</h2>
                            <p>Shows com muita música e iluminação.</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBox">
                        <div class="casamento">
                            <img src="img/casamento0.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>CASAMENTO</h2>
                            <p>Decorações a critério do casal.</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBox">
                        <div class="sertanejo">
                            <img src="img/sertanejo2.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>SERTANEJO</h2>
                            <p>Música a todo vapor com vestimenta adequada para o local..</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBox">
                        <div class="aniversario">
                            <img src="img/aniversario6.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>ANIVERSÁRIO</h2>
                            <p>Festa de aniversário com vários temas e para todo tipo de público.</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBox">
                        <div class="aniversario1">
                            <img src="img/aniversario1.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>ANIVERSÁRIO</h2>
                            <p>Festa aniversário para adolescentes com bebidas e doces.</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBox">
                        <div class="baladas">
                            <img src="img/Balada-01.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>BALADA</h2>
                            <p>Espaço grande e com muita iluminação para eventos com grnade quantidade de pessoas.</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBox">
                        <div class="baladas2">
                            <img src="img/CAPA10.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>SHOWS</h2>
                            <p>Shows com muita música e iluminação.</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBox">
                        <div class="casamento2">
                            <img src="img/casamento8.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>CASAMENTO</h2>
                            <p>Casamento com temas da natureza.</p>
                        </div>
                    </div>
                </div>
                <!------>
                <div class="box">
                    <div class="imgBox">
                        <div class="sertanejo1">
                            <img src="img/sertanejo1.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>SERTANEJO</h2>
                            <p>Música a todo vapor com vestimenta adequada para o local..</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="imgBox">
                        <div class="rave">
                            <img src="img/rave.jpeg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>RAVE</h2>
                            <p>Música a todo vapor com vestimenta adequada para o local..</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="imgBox">
                        <div class="casamento4">
                            <img src="img/casamento4.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>CASAMENTO</h2>
                            <p>Música a todo vapor com vestimenta adequada para o local..</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="imgBox">
                        <div class="balada350">
                            <img src="img/balada1.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>BALADA</h2>
                            <p>Música a todo vapor com vestimenta adequada para o local..</p>
                        </div>
                    </div>
                </div>
                <!----->
                <div class="box">
                    <div class="imgBox">
                        <div class="rock">
                            <img src="img/rock1.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>ROCK</h2>
                            <p>Música a todo vapor com vestimenta adequada para o local..</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="imgBox">
                        <div class="balada10">
                            <img src="img/aniversario5.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>ANIVERSÁRIO</h2>
                            <p>Música a todo vapor com vestimenta adequada para o local..</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="imgBox">
                        <div class="aniversario2">
                            <img src="img/aniversario2.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>BALADA</h2>
                            <p>Música a todo vapor com vestimenta adequada para o local..</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="imgBox">
                        <div class="danceteria1">
                            <img src="img/danceteria.jpg">
                        </div>
                    </div>

                    <div class="details">
                        <div class="content">
                            <h2>DANCETERIA</h2>
                            <p>Música a todo vapor com vestimenta adequada para o local..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="faixa-final-imagem"></div>

        </div>
        <div class="container-preto"></div>

        <div class="services">
            <h1>Nossos Serviços</h1>
            <div class="cen">
                <div class="service">
                    <i class="fas fa-anchor"></i>
                    <h2>ORGANIZAÇÃO</h2>
                    <p>Nossos Serviços</p>
                </div>

                <div class="service">
                    <i class="fab fa-android"></i>
                    <h2>ATENDIMENTO MOBILE</h2>
                    <p>Nossos Serviços</p>
                </div>

                <div class="service">
                    <i class="fab fa-angellist"></i>
                    <a href='@Url.Action("Index", "Elogio")'>
                        <h2>ELOGIOS</h2>
                    </a>
                    <p>Nossos Serviços</p>
                </div>

                <div class="service">
                    <i class="fas fa-home"></i>
                    <h2>NOVOS ESPAÇOS</h2>
                    <p>Nossos Serviços</p>
                </div>

                <div class="service">
                    <i class="far fa-angry"></i>
                    <a href="sugestao.html">
                        <h2>SUGESTÕES</h2>
                    </a>
                    <p>Nossos Serviços</p>
                </div>

                <div class="service">
                    <i class="fab fa-apple"></i>
                    <h2>FORNECEDOR DE ALIMENTOS</h2>
                    <p>Nossos Serviços</p>
                </div>
            </div>
        </div>

        <div class="container-preto"></div>

        <div class="container-branco"></div>

        <div class="fundopreto-descricao">
            <p>
                COPYRIGHT 2019 Todos os direitos reservados
            </p>
        </div>
    </main>