<main>
        <div class="capa">
            <div class="logo">
                <div class="logotipo">
                    <img src="img/logo.png" width="200px" height="150px">
                </div>
                <div class="posicao-balada">
                    <div class="middle">
                        <span class="container">
                            <div class="text" data-text="BALADA">BALADA</div>
                        </span>
                    </div>
                
            </div>
        </div>

        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
            <label for="r5" class="bar"></label>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- PADDING AQUI -->
        <div class="faixa-branca"></div>

        <br />
        <div class="posicao">
            <div class="contact-info">
                <div class="card">
                    <i class="card-icon far fa-envelope"></i>
                    <p>Roletop2019@gmail.com</p>
                </div>

                <div class="card">
                    <i class="card-icon fas fa-phone"></i>
                    <p>(11) 1234-5678</p>
                </div>

                <div class="card">
                    <i class="card-icon fas fa-map-marker-alt"></i>
                    <p>SÃO PAULO/SP</p>
                </div>
                <br />
            </div>
        </div>

        <div class="caixa1-branco"></div>

        <div class="faixa-eventos">
            <p>EVENTOS</p>
        </div>

        <div class="caixa3"></div>

        <div class="galeria-secao">
            <div class="inner-width">

                <div class="border"></div>
                <div class="galeria">

                    <a href="galeria/casamento2.jpg" class="image" title="Casamento">
                        <img src="img/casamento2.jpg" alt="CASAMENTO">
                    </a>

                    <a href="galeria/Baile4.jpg" class="image" title="Baile">
                        <img src="img/Baile4.jpg" alt="BAILE">
                    </a>

                    <a href="galeria/imagem1.jpg" class="image" title="Balada">
                        <img src="img/imagem1.jpg" alt="BALADA">
                    </a>


                    <a href="galeria/bar.jpg" class="image" title="Bar">
                        <img src="img/bar.jpg" alt="BAR">
                    </a>

                </div>

                <div class="galeria">
                    <a href="galeria/CAPA6.jpg" class="image" title="Balada Eletrônica">
                        <img src="img/CAPA6.jpg" alt="">
                    </a>

                    <a href="galeria/aniversario3.jpg" class="image" title="Aniversário">
                        <img src="img/aniversario3.jpg" alt="">
                    </a>

                    <a href="galeria/sertanejo3.jpeg" class="image" title="Sertanejo">
                        <img src="img/sertanejo3.jpeg" alt="">
                    </a>


                    <a href="galeria/baladas.jpg" class="image" title="Rave">
                        <img src="img/baladas.jpg" alt="">
                    </a>
                </div>

                <div class="galeria">
                    <a href="galeria/rock1.jpg" class="image" title="Show de Rock">
                        <img src="img/rock1.jpg" alt="">
                    </a>

                    <a href="galeria/junina.jpg" class="image" title="Festa Junina">
                        <img src="img/junina.jpg" alt="">
                    </a>

                    <a href="galeria/standup.jpg" class="image" title="Show de Comédia">
                        <img src="img/standup.jpg" alt="">
                    </a>

                    <a href="galeria/danca.jpg" class="image" title="Danças Artisticas">
                        <img src="img/danca.jpg" alt="">
                    </a>
                </div>

                <br />
                <br />
                <br />
                <div class="galeriaDeImagens">
                    <a href='@Url.Action("Index","Galeria")' class="buttom"><b>GALERIA DE IMAGENS </b></a>
                </div>
            </div>
        </div>

        <script>
            $(".galeria").magnificPopup({
                delegate: 'a',
                type: 'image',
                galeria: {
                    enabled: true
                }
            })
        </script>
        <div class="caixa2">
        </div>

        <div class="caixa-preta"></div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="middle">
            <a class="btn" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a class="btn" href="#">
                <i class="fab fa-twitter"></i>
            </a>

            <a class="btn" href="#">
                <i class="fab fa-google"></i>
            </a>

            <a class="btn" href="#">
                <i class="fab fa-instagram"></i>
            </a>

            <a class="btn" href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
        <div class="faixa-branca"></div>

        <div class="caixa6">
            <p></p>
        </div>

        <div class="local-fundo">
            <div class="local">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8888870802516!2d-46.648335685022666!3d-23.53649848469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deb99025%3A0xb23619858bc7e63e!2sEscola%20SENAI%20de%20Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1567641743370!5m2!1spt-BR!2sbr"
                    width="1400" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>

        <div class="fundo-preto1"></div>

        <div class="bloco-branco"></div>

        <div class="bloco">
            <form action="">
                <h1>BOLETIM DE NOTÍCIAS</h1>
                <div class="email-box-fox">
                    <i class="fas fa-envelope"></i>
                    <input class="tbox21" type="email-message" name="" value="" placeholder="Digite o seu email">
                    <button class="btn32" type="buttonclick" name="button">Enviar</button>

                </div>
            </form>
        </div>

        <div class="bloco-branco"></div>

        <footer>
            <!-- <div class="preto"></div> -->

            <div class="fundoroxo">
                <div class="rodape">
                    <!-- <p>
                    |
                </p> -->
                    <div class="coluna1">


                        <p>
                            <strong>
                                HOME
                            </strong>
                        </p>
                    </div>

                    <!-- <p>
                |
            </p> -->

                    <p>
                        <strong>
                            EVENTOS
                        </strong>
                    </p>

                    <!-- <p>
                |
            </p> -->

                    <p>
                        <strong>
                            HISTÓRIA
                        </strong>
                    </p>

                    <!-- <p>
                |
            </p> -->

                    <p>
                        <strong>
                            OUTROS
                        </strong>
                    </p>

                    <!-- <p>
                |
            </p> -->
                </div>

                <div class="rodape-sobreposto">

                    <div class="rodape">
                        </p>
                        <br />
                        <p>
                            Voltar ao Inicio
                        </p>

                        <p>
                            Aniversários
                        </p>

                        <p>
                            Sobre Nós
                        </p>

                        <p>
                            Parcerias
                        </p>
                    </div>

                    <div class="rodape">
                        </p>
                        <br />
                        <p>
                            Imagens
                        </p>

                        <p>
                            Casamentos
                        </p>

                        <p>
                            Começo de tudo
                        </p>

                        <p>
                            Indicações
                        </p>

                    </div>
                </div>
            </div>

    <div class="fundopreto-descricao">
        <p>
            COPYRIGHT 2019 Todos os direitos reservados
        </p>
    </div>

    </main>