<main>
    <form method="POST" action='@Url.Action("Index", "Agendamento")' class="login-form">
        <div class="fundo-image">
            <div class="logo-roletop">
                <img src="Rosto/logo.png">
                <h1>EVENTOS</h1>
            </div>

            <div class="espacamento-fundopreto">
                <div class="posicionamento">

                    <div class="container1">
                        <div class="txtb">

                            <input type="text" placeholder="EVENTOS:">

                            <buttom type="buttom"><i class="fas fa-arrow-right"></i></buttom>
                        </div>
                    </div>

                    <div class="container2">
                        <div class="txtb">

                            <input type="text" placeholder="DATA: 00/00/0000">

                            <buttom type="buttom"><i class="fas fa-arrow-right"></i></buttom>
                        </div>
                    </div>

                    <div class="container3">
                        <div class="txtb">

                            <input type="text" placeholder="NÚMERO DE PESSOAS:">

                            <buttom type="buttom"><i class="fas fa-arrow-right"></i></buttom>
                        </div>
                    </div>
                </div>
            </div>

            <div class="botao">
                <a href="" class="buttom1"><b>AGENDAR</b></a>
            </div>
        </div>


    </form>
</main>