 <main>
        <div class="capa">
            <div class="logo">
                <div class="logotipo">
                    <img src="img/logo.png" width="200px" height="150px">
                </div>

                <div class="posicao-balada">
                    <div class="middle">
                        <span class="container">
                            <div class="text" data-text="BALADA">BALADA</div>
                        </span>
                    </div>

                </div>

            </div>
        </div>


        <div class="testimonials">
            <div class="inner">
                <h1>FEEDBACK</h1>
                <div class="border"></div>
                <div class="row">
                    <div class="col">
                        <div class="testimonial">
                            <img src="img/rosto6.jpg" alt="">
                            <div class="name"><b>BALADA</b></div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>

                            </div>
                            <p>
                                <strong>JOHN WILLIANS:</strong> Mano o que foi isso. A balada estava show de bola!!!
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="img/rosto5.jpg" alt="">
                            <div class="name"><b>SHOW DE ROCK</b></div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>

                            </div>
                            <p>
                                <strong>RICARDA MOREIRA:</strong>o evento foi ótimo, além de ter um espaço bem
                                acolhedor.
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="img/rosto4.jpeg" alt="">
                            <div class="name"><b>CASAMENTO</b></div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>

                            </div>
                            <p>
                                <strong>ASTOLPHA MORGAN:</strong> Nossa gente que casamento lindo!!!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-preto">

        </div>


        <div class="about-section">
            <div class="inner-width">
                <h1>RANKING DE EVENTOS</h1>
                <div class="border"></div>
                <div class="about-section-row">
                    <div class="about-section-col">
                        <div class="about">
                            <p>
                                Avaliação de cada um dos nossos Eventos a partir das recomendações e avaliações dos
                                nossos clientes.
                            </p>
                            <a href="#"> Leia Mais</a>
                        </div>
                    </div>
                    <div class="about-section-col">
                        <div class="skills">
                            <div class="skill">
                                <div class="title">Baladas</div>
                                <div class="progress">
                                    <div class="progress-bar p1"><span>90%</span></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="title">Casamentos</div>
                                <div class="progress">
                                    <div class="progress-bar p2"><span>70%</span></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="title">Aniversários</div>
                                <div class="progress">
                                    <div class="progress-bar p3"><span>60%</span></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="title">Shows</div>
                                <div class="progress">
                                    <div class="progress-bar p3"><span>65%</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-rodape"></div>
        <div class="container-preto1"></div>

    </main>